<% let flash = getAndClearFlash();
switch (flash.type) { 
    case 0: {%>
<div class="flashError"><%= flash.msg %></div>
<% break; }
    case 1: {%>
    <div class="flashAttention"><%= flash.msg %></div>
<% break; }
    case 2:{ %>
    <div class="flashCorrect"><%= flash.msg %></div>
<% 
break; }
}; %>

