<header>
    <nav>
        <% if (!user) {%>
        <ul>
            <li class="elemMenu"><a href="login">Entrar</a></li>
            <li class="elemMenu"><a href="register">Nuevo Usuario</a></li>
        </ul>
        <% } else { %>
            <ul>
                    <li class="elemMenu"><a href="/profile">Perfil</a></li>
                    <li class="elemMenu"><a href="/friends">Amigos</a></li>
                    <li class="elemMenu"><a href="/preguntas">Preguntas</a></li>
                    <li class="elemMenu"><a href="/logout">Desconectar</a></li>
                    <li class="elemMenu"><span id="puntos"><img src="/img/<%= user.img %>" id="iconoPuntos"> <%= user.points %> pts</span></li>
                </ul>
        <% } %>
    </nav>
</header>