<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Bienvenido</title>
    </head>
    <body>
		<!--Si hay sesion poner el menu guay-->
    	<nav>
    		<ul>
    			<li class="elemMenu"><a href="login">Entrar</a></li>
    			<li class="elemMenu"><a href="register">Nuevo Usuario</a></li>
    		</ul>
    	</nav>
    	<h1 class="titulo">ENTRAR</h1>
    	<form id="centradoLogReg" method="post" action="/login">
    		<ul>
	    		<li class="lblcampo">
	    			<p>Email: </p>
	    			<input type="text" name="user" value="" class="entrada">
	    		</li>
	    		<li class="lblcampo">
	    			<p>Contraseña: </p>
	    			<input type="password" name="password" value="" class="entrada">
	    		</li>
	    		<li class=botonCentro>
	    			<input type="submit" name="conectar" class="boton" value="Conectar">
				</li>
    		</ul>
		</form>
		<p class="errorMsg"><%= errorMsg %></p>
    </body>
</html>