<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Bienvenido</title>
    </head>
    <body>
		<%- include("header", {user: null}) %>
		<h1 class="titulo">ENTRAR</h1>
		<%- include("flash") %>		
    	<form class="centradoFondoMorado" method="post" action="/login">
    		<ul>
	    		<li class="lblcampo">
	    			<p>Email: </p>
	    			<input type="text" name="user" value="" class="entrada">
	    		</li>
	    		<li class="lblcampo">
	    			<p>Contraseña: </p>
	    			<input type="password" name="password" value="" class="entrada">
	    		</li>
	    		<li class=botonCentro>
	    			<input type="submit" name="conectar" class="boton" value="Conectar">
				</li>
    		</ul>
		</form>
    </body>
</html>