<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Preguntas</title>
    </head>
    <body>
        <%- include("header", {user: user}) %>
        <%- include("flash") %>		        
        <h1 class="titulo">Preguntas seleccionadas aleatoriamente</h1>
        <% if(questions){ %>
        <ul>
            <% for(let i = 0; i < questions.length; i++) { %>
            <li><a class="pregunta" href="/question/<%= questions[i].id %>"><%= questions[i].question %></a></li>
            <% } %>
        </ul>
        <% } else { %>
            <p class="simpleFlashAttention">No hay preguntas aún...</p>
        <% } %>
        <h1 class="titulo">¡Añade tus preguntas!</h1>
        <form method="get" action="/addQuestion">
            <div class = "botonCentro">
                <input type="submit" class="boton" value="Crear nueva pregunta" id="preg">
            </div>
        </form>
    </body>    
</html>