<!DOCTYPE html>
<html lang="es">
    <!-- Contenido de la página web -->
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Nuevo usuario</title>
    </head>
    <body>
		<%- include("header", {user: null}) %>	
		<h1 class="titulo">Nuevo usuario</h1>
		<%- include("flash") %>			
    	<form id="centradoLogReg" method="post" action="register" enctype="smultipart/form-data">
    		<ul>
	    		<li class="lblcampo">
	    			<p>Email: </p>
	    			<input type="text" name="user" value="" class="entrada">
	    		</li>
	    		<li class="lblcampo">
	    			<p>Contraseña: </p>
	    			<input type="password" name="password" value="" class="entrada">
	    		</li>
	    		<li class="lblcampo">
	    			<p>Nombre Completo: </p>
	    			<input type="text" name="name" value="" class="entrada">
	    		</li>
	    		<li class="lblcampo">
	    			<p>Sexo:</p>
	    			<div class="entrada" id="radiosReg">
		    			<span>Hombre<input type="radio" name="gender" value="hombre"></span>
		    			<span>Mujer<input type="radio" name="gender" value="mujer"></span>
		    			<span>Otro<input type="radio" name="gender" value="otro"></span>
	    			</div>
	    		</li>
	    		<li class="entrada" id="nacimiento">
	    			<p>Fecha de nacimiento:</p>
	    			<input type="date" name="age" value="" >
	    		</li>
	    		<li class="lblcampo">
	    			<p>Imagen de perfil:</p>
	    			<input type="file" name="img" class="entrada">
	    		</li>
	    		<li class=botonCentro>
	    			<input type="submit" name="registrar" class="boton" value="Crear Usuario">
				</li>
    		</ul>
    	</div>
    </body>
</html>