body {
	margin: 0;
	background-image: url(fondo.jpg);
}

.menu {
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
a {
	text-decoration: none;
}



#menuLogin{
	margin-right: 10%;
	margin-left: 10%;
	background-color: #98D18C;

}

nav > ul > li{
	width: 50%;
	text-align: center;
}

nav > ul > li:hover {
	background: #B9E09D;
}

.elemMenu > a {
	color: black;
	font-size: 30px;

}

.elemMenu {
	border-style: solid;

}


.titulo {
	text-align: center;
}

#centradoLogReg{
	background-color: #B9E09D;
	border-style: solid;
	border-color: black;
	padding: 20px;
	margin-right: 25%;
	margin-left: 25%;
}

.lblcampo {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}


.entrada{
	width: 60%;
	height: 22px;
	margin-right: 50px;
}

#nacimiento{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

#nacimiento > input{
	margin-right: 17%;
}

#radiosReg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

#div {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#conectar {
	display: flex;
	justify-content: center;
}

#btLogin {
	height: 40px;
	width: 120px;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	background-color: #98D18C;
}

#btLogin:hover {
	color: white;
	background-color: #B9E09D;
}

ul {
	padding: 0;
	list-style: none;
}

#perfilCompleto {
	margin-right: 25%;
	margin-left: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


#perfil {
	display: flex;
	justify-content: flex-start;
}

#datosPerfil {
	margin-left: 5%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#fotoPerfil {
	margin-left: 25%;
	height: 90;
	width: 90px;
}

#modificaPerfil {
	margin-left: 20%;
	margin-right: 20%;
	background-color: #98D18C;
	border-radius: 10px;
	height: 30px;
	border-color: black;
	border-style: solid;
}

#modificaPerfil:hover {
	background-color: #B9E09D;
	color: white;
}