/* Introduce aquí las reglas de estilo */


.titulo {
	background-color: #FFF393;
	color: #B2095B;
	text-align: center;
	margin: auto;
	padding: 10%;
	font-size: 30px;
}
#subtitulo {
	font-size: 25px;
}

blockquote {
	background-color: #FFF393;
	padding: 3%;
	border-radius: 4em;
}

a{
	color:#B2095B; 
}
body{
	background-color: #FFF9C4;
}

h2.titulo {
	background-color: transparent;
	text-align: left;
	margin: auto;
	margin-top: 20px;
	padding: 0px;
	font-size: auto;
}

.apartados {
	margin-left: 24%;
	margin-right: 24%;
}


#horario{
    text-align: center;
    align-content: center;
    align-items: center;
}

th,.hora{
    background: #FFCCBC;
	text-align: center;
	align-content: center;
    align-items: center;

}

.sesion{
    background: #D8FFD3;
    text-align: center;
	align-content: center;
    align-items: center
}
.cv{
    background: #A3E1D8;
    text-align: center;
	align-content: center;
    align-items: center
}
#as{
    background: #F0D2F0;
    text-align: center;
	align-content: center;
    align-items: center
}

th{
	text-align: center;
	align-content: center;
    align-items: center
}
blockquote{
    text-align:justify;
    font-style: italic;
}

blockquote:before { 
    content: open-quote; 
}

blockquote:after { 
    content: close-quote;
}


th, td {
   width: 25%;
   text-align: center;
   vertical-align: top;
}

th,td, .tabla1 {
	text-align: left;
	align-content: left;
    align-items: left;
}


#lista1 li {
	color: #B2095B;
	font-size: 20px;
}
#lista1 span {
	color:black;
	font-size: 14px;
}

#lista2 {
    counter-reset: li; 
    font: 13px 'trebuchet MS', 'lucida sans';
    padding: 10px;
    margin-bottom: 4em;
}

#lista2 ol {
    margin: 0 0 0 2em; 
}

#lista2 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

   

#lista2 li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #FFCCBC;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#lista2 li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}